<form [formGroup]="change_password_form">
  <div class="my-3">
    <label class="form-label">Введите новый пароль</label>
    <input type="password" class="form-control" formControlName="newPassword">
    <p
      *ngIf="this.change_password_form.get('newPassword')?.touched && this.change_password_form.get('newPassword')?.invalid"
      class="text-danger">Пароль должен быть больше или равен 8 символам</p>
  </div>
  <div class="my-3">
    <label class="form-label">Повторите</label>
    <input type="password" class="form-control" formControlName="retryPassword">
    <p
      *ngIf="this.change_password_form.get('retryPassword')?.touched && this.change_password_form.get('retryPassword')?.invalid"
      class="text-danger">Пароль должен быть больше или равен 8 символам</p>
    <p *ngIf="!passwordIsEquals()
     && this.change_password_form.get('newPassword')?.touched &&
     this.change_password_form.get('retryPassword')?.touched" class="text-danger">Пароли не совпадают</p>
  </div>
  <div class="my-3">
    <button [disabled]="change_password_form.invalid" (click)="submit()" type="button" class="btn btn-primary">Изменить пароль</button>
  </div>
</form>
